---
title: Juhász Attila - Nem vagy egyedül a céljaid felé haladó úton
---

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto min-h-screen">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Gyakorlati tapasztalatom van</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Apa vagyok, férj vagyok és immár nyolc éve vezetek egy általam alapított vállalkozást. Az önismerettel a cégalapítás előtt kezdtem el foglalkozni és ez a szerelem azóta is tart. Hiszek a fejlődésben és a belső növekedésben. Coaching szemléletű tanácsadóként három éve segítek másoknak is önazonosabbnak és eredményesebbnek lenni.</p>
    </div>
<!--    <div class="flex flex-wrap -m-4">-->
<!--      <div class="lg:w-1/3 sm:w-1/2 p-4">-->
<!--        <div class="flex relative">-->
          <%#= image_tag 'apakent.jpg', class: 'absolute inset-0 w-full h-full object-cover object-center'%>
<!--          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">-->
<!--            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">APAKÉNT</h2>-->
<!--            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Együtt utazunk</h1>-->
<!--            <p class="leading-relaxed">Szeretem ezt a hordozót, a feleségemtől kaptam. Jó érzés tudni, hogy a kisfiam bármikor megpihenhet bárhova is megyünk.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="lg:w-1/3 sm:w-1/2 p-4">-->
<!--        <div class="flex relative">-->
          <%#= image_tag 'ferjkent.jpg', class: 'absolute inset-0 w-full h-full object-cover object-center'%>
<!--          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">-->
<!--            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">FÉRJKÉNT</h2>-->
<!--            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Együtt működünk</h1>-->
<!--            <p class="leading-relaxed">Hálás vagyok a feleségemnek azért, hogy ilyen sokat tanulhatok magamról. Az biztos, hogy a házastárs jó tükör.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="lg:w-1/3 sm:w-1/2 p-4">-->
<!--        <div class="flex relative">-->
<!--          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/603x363">-->
<!--          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">-->
<!--            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">VEZETŐKÉNT</h2>-->
<!--            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">The 400 Blows</h1>-->
<!--            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="lg:w-1/3 sm:w-1/2 p-4">-->
<!--        <div class="flex relative">-->
<!--          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/602x362">-->
<!--          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">-->
<!--            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">KALANDORKÉNT</h2>-->
<!--            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Neptune</h1>-->
<!--            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="lg:w-1/3 sm:w-1/2 p-4">-->
<!--        <div class="flex relative">-->
<!--          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/605x365">-->
<!--          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">-->
<!--            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">UTAZÓKÉNT</h2>-->
<!--            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Holden Caulfield</h1>-->
<!--            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="lg:w-1/3 sm:w-1/2 p-4">-->
<!--        <div class="flex relative">-->
<!--          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center" src="https://dummyimage.com/606x366">-->
<!--          <div class="px-8 py-10 relative z-10 w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">-->
<!--            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">KÖZÖSSÉGBEN</h2>-->
<!--            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">Alper Kamu</h1>-->
<!--            <p class="leading-relaxed">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</section>

