---
title: Juhász Attila - Személyre szabott közös munka
---

<section class="text-gray-700 body-font">
  <div class="container px-5 py-12 mx-auto">
    <h1 class="sm:text-3xl text-2xl font-medium title-font text-center text-gray-900">Személyre szabott közös munka
      <!--      <br class="hidden sm:block">Coaching szemléletű tanácsadás-->
    </h1>

  </div>
</section>

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden">
      <%= image_tag 'attila2.jpg', class: "object-cover object-center h-full w-full" %>
    </div>
    <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-300 text-indigo-600 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Coaching szemléletű tanácsadás</h2>
          <p class="leading-relaxed text-base">Vegyél részt egy megoldás fókuszú beszélgetés sorozatban velem! Meghallgatlak, visszajelzek, követlek és segítek tartani az irányt.</p>
          <!--          <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More-->
          <!--            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">-->
          <!--              <path d="M5 12h14M12 5l7 7-7 7"></path>-->
          <!--            </svg>-->
          <!--          </a>-->
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-300 text-indigo-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Önismereti munka</h2>
          <p class="leading-relaxed text-base">Minden változás visszajelzéssel jár. Minden új tudás hozzásegíthet téged, hogy önazonosabb és boldogabb lehess. Ezen dolgozunk majd.</p>
          <!--          <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More-->
          <!--            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">-->
          <!--              <path d="M5 12h14M12 5l7 7-7 7"></path>-->
          <!--            </svg>-->
          <!--          </a>-->
        </div>
      </div>
      <div class="flex flex-col mb-10 lg:items-start items-center">
        <div class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-300 text-indigo-500 mb-5">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-6 h-6" viewBox="0 0 24 24">
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Relaxáció</h2>
          <p class="leading-relaxed text-base">Van amikor erőből nem megy. Relaxációs technikákkal segítek neked feltöltődni, hogy arra fókuszálhasd a figyelmed és az energiád amire szükséges.</p>
          <!--          <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More-->
          <!--            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">-->
          <!--              <path d="M5 12h14M12 5l7 7-7 7"></path>-->
          <!--            </svg>-->
          <!--          </a>-->
        </div>
      </div>
      <div class="flex py-12 mx-auto lg:mx-0">
        <a href="mailto:juhasz@atti.la" target="_blank" class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Foglalj ingyenes online konzultációt!</a>
      </div>

    </div>
  </div>
</section>

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium text-center title-font text-gray-900 mb-4">Mi vár rád a ha velem dolgozol?</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">A lelki személyi edződ leszek. Azon dolgozom veled, hogy az ellenálló képességed nőjjön, az előtted álló lehetőségek gyarapodjanak és haladj az úton ami a sajátod.</p>
    </div>
    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-300 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">Teret kapsz a növekedéshez</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-300 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">Meghallgatlak és megértelek ítélkezés nélkül</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-300 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">Mélyül az önismereted, segítek rálátni önmagadra</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-300 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">A választási lehetőségeid száma nőni fog</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-300 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">Melletted állok, amikor elindulsz</span>
        </div>
      </div>
      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-300 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">Megünneplem veled a sikereket</span>
        </div>
      </div>
    </div>
    <!--    <button class="flex mx-auto mt-16 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>-->
  </div>
</section>


<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <h1 class="text-3xl font-medium title-font text-gray-900 mb-12 text-center">Rólam mondták</h1>
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed text-lg">Attilával a közös folyamat során mindig azt éreztem, hogy figyel rám és őszintén érdekli, hogy hol tartok az életemben. Kísérő volt az utamon úgy, hogy közben sosem ítélkezett. Egy nehéz időszakomban adott olyan támogatást, ami segített kicsit tisztázni a folyamatokat, érzéseket, előttem álló feladatokat. Sokkal könnyebb lélekkel jöttem el az alkalmakról, mint mielőtt odamentem.</p>
      <span class="inline-block h-1 w-10 rounded mt-8 mb-6"></span>
      <!--      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>-->
      <!--      <p class="text-gray-500">Senior Product Designer</p>-->
    </div>
    <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
        <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
      </svg>
      <p class="leading-relaxed text-lg">Hálás vagyok Attila nyitott, megtartó figyelméért, amivel végig érzékenyen kísért a saját utamon, mégis ügyesen terelt, s mederben tartott, hogy végül a lehető leghatékonyabban érjem el az első ülésen kitűzött célom. Számomra nagyon hasznos s gyógyító is volt egyben Attila támogatása, segítsége abban, hogy megtaláljam magamban az új irányt s az ahhoz szükséges eszközöket.</p>
      <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
      <!--      <h2 class="text-gray-900 font-medium title-font tracking-wider text-sm">HOLDEN CAULFIELD</h2>-->
      <!--      <p class="text-gray-500">Senior Product Designer</p>-->
    </div>
  </div>
</section>



<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xs text-indigo-500 tracking-widest font-medium title-font mb-1">Témáim</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-gray-900">Ezekkel a témákkal dolgoztam már, hozd el a sajátod</h1>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 sm:w-1/2 lg:w-1/3">
        <div class="flex rounded-lg h-full bg-white p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Elakadások, nehézségek</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Van célod, de nehéz elindulni. Eddig minden jól ment, de most hirtelen nem tudod merre van előre. Nem lenne rossz egy kis külső segítség.</p>
            <!--            <a class="mt-3 text-indigo-500 inline-flex items-center">Learn More-->
            <!--              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">-->
            <!--                <path d="M5 12h14M12 5l7 7-7 7"></path>-->
            <!--              </svg>-->
            <!--            </a>-->
          </div>
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/3">
        <div class="flex rounded-lg h-full bg-white p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Karrierváltásban vagyok</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Ha úgy érzed, hogy nehéz dolog mozgó járművek között ugrálni, nem vagy egyedül. Segítek, hogy körültekintőbben és ügyesebben tudj váltani.</p>

          </div>
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/3">
        <div class="flex rounded-lg h-full bg-white p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <circle cx="6" cy="6" r="3"></circle>
                <circle cx="6" cy="18" r="3"></circle>
                <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Mit kezdjek az életemmel?</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Vannak pillanatok amikor megéri megállni és újratervezni. Ilyenkor hasznos ha valaki melletted van amíg kifújod magad.</p>

          </div>
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/3">
        <div class="flex rounded-lg h-full bg-white p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <circle cx="6" cy="6" r="3"></circle>
                <circle cx="6" cy="18" r="3"></circle>
                <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Önnállósodás, vállalkozás indítás</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Saját lábra állni szakmailag hatalmas dolog. Meglepő módon önismereti vetülete is van. Kell is hozzá és lesz is tőle.</p>

          </div>
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/3">
        <div class="flex rounded-lg h-full bg-white p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <circle cx="6" cy="6" r="3"></circle>
                <circle cx="6" cy="18" r="3"></circle>
                <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Vezetőnek lenni</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">Vezetővé nem születünk, hanem válunk. Ehhez rengeteg önreflexióra és humorra van szükség.</p>

          </div>
        </div>
      </div>
      <div class="p-4 sm:w-1/2 lg:w-1/3">
        <div class="flex rounded-lg h-full bg-white p-8 flex-col">
          <div class="flex items-center mb-3">
            <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-indigo-500 text-white flex-shrink-0">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                <circle cx="6" cy="6" r="3"></circle>
                <circle cx="6" cy="18" r="3"></circle>
                <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
              </svg>
            </div>
            <h2 class="text-gray-900 text-lg title-font font-medium">Apa és férfi szerepek</h2>
          </div>
          <div class="flex-grow">
            <p class="leading-relaxed text-base">A természet nem véletlenül ad kilenc hónapot a szülőknek a felkészülésre. Vajon mit kell tenni, hogy a férfiből a gyerekkel együtt megszülethessen az apa?</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-gray-900">Árak és feltételek</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">A személyre szabott közös munkát coaching szemléletű üzleti tanácsadás keretében nyújtom. Ha esetleg a te kérdésed ebbe nem fér bele, nincs semmi gond! Örömmel javaslok majd neked másik, neked megfelelőbb szakembert az ismeretségi körömből. </p>

      <p class="lg:w-2/3 pt-6 mx-auto leading-relaxed text-base">Jelenleg főként hétfői időpontokat tudok felajánlani. Vedd fel velem a kapcsolatot és ha nem találunk közös idősávot, akkor ajánlok valaki mást, vagy visszajelzek amint felszabadul egy neked megfelelő hely.</p>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap bg-white">
        <thead>
        <tr>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-300 rounded-tl rounded-bl">Amit nyújtok</th>
          <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-300 rounded-tr rounded-br">Ár</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="px-4 py-3">Első konzultáció</td>
          <td class="px-4 py-3 text-lg text-gray-900">Ingyenes</td>
        </tr>
        <tr>
          <td class="border-t-2 border-gray-200 px-4 py-3">Online alkalom</td>
          <td class="border-t-2 border-gray-200 px-4 py-3 text-lg text-gray-900">5000-15000Ft alkalmanként (tartalmazva az ÁFA-t), havonta számlázva</td>
        </tr>
        <tr>
          <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3 text">Személyes alkalom</td>
          <td class="border-t-2 border-b-2 border-gray-200 px-4 py-3 text-lg text-gray-900">A járvány miatt nem elérhető</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
      <a href="mailto:juhasz@atti.la" target="_blank" class="flex mr-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Foglalj ingyenes online konzultációt!</a>
    </div>
  </div>
</section>

