---
# Feel free to add content and custom Front Matter to this file.

layout: default
title: Nem vagy egyedül a céljaid felé haladó úton
---

<section class="text-gray-700 body-font min-h-screen">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
      <img src="images/attila.jpg" class="object-cover object-center rounded" />
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-12 md:pl-8 mt-8 lg:mt-0 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Nem vagy egyedül
        <br class="hidden lg:inline-block">a céljaid felé haladó úton
      </h1>
      <p class="mb-8 leading-relaxed">A közös munka során a coaching szemléletű tanácsadás és az önismereti munka személyre szabott elegyét kínálom. Egy ingyenes konzultációs alkalom után, majd 4-6 alkalom marad arra, hogy lerakjuk a közös munka kereteit. Ezek az alkalmak tökéletesek arra, hogy átbeszéld velem azt, hogy hova tartasz.</p>
      <div class="">
        <a href="mailto:juhasz@atti.la" target="_blank" class="block lg:inline-flex mb-4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Foglalj ingyenes online konzultációt!</a>
        <a href="/coaching-szemleletu-tanacsadas" class="lg:ml-4 block lg:inline-flex text-gray-700 bg-gray-300 border-0 py-2 px-6 focus:outline-none hover:bg-gray-300 rounded text-lg">Tudj meg többet!</a>
      </div>
    </div>
  </div>
</section>

