<footer class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-no-wrap flex-wrap flex-col">
  </div>
  </div>
  <div class="bg-gray-300">
    <div class="container mx-auto py-4 px-5 flex flex-wrap flex-col sm:flex-row">
      <p class="text-gray-500 text-sm text-center sm:text-left">© 2020 Juhász Attila. A fotókat Hohl Tibor készítette.
        {% comment %}Email: <a href="mailto:{{ metadata.email }}">{{ metadata.email }}</a>{% endcomment %}
      </p>
    </div>
  </div>
</footer>